[Desktop Entry]
Version=1.0
Type=Application
Name=File Manager
Name[ja_JP]=ファイルマネージャー
Name[pt_BR]=Gerenciador de Arquivos
Comment=ExpidusOS File Manager
Categories=Utility;
Icon=com.expidusos.file_manager
Terminal=false
Exec=file_manager %U
MimeType=inode/directory;
